<html>

<head>
    <title>test</title>
</head>

<body>
    <div id="app">
        <div style="padding: 20px; margin-top: 100px;">
            <ol>
                <li v-for="subject in subjects" ::key="subject.message">
                    {{ subject.message }}
                </li>
            </ol>
            <input type="text" v-model="isi" value="{{ isi }}" id="value">
            <button @click="addSubject">Tambahkan</button>
            <p v-if="subjects.length > 3">Hebat</p>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    isi: '',
                    subjects: [],
                }
            },
            methods: {
                addSubject() {
                    if (this.isi === '') {

                    } else {
                        this.subjects.push({
                            message: this.isi
                        })
                        this.isi = ""
                    }

                },



            }
        })
    </script>
</body>

</html>