<html>

<head>
    <title>test</title>
</head>

<body>
    <div id="app">
        <div style="padding: 20px; margin-top: 100px;">
            <div v-if="subjects.length  === 0">
                <p>Data belum ada sihlakan di isi <a href="#value"><label for="value">Klick disini</label></a></p>
            </div>
            <ol>
                <li v-for="subject in subjects" ::key="subject.message">
                    {{ subject.message }}
                </li>
            </ol>
            <input type="text" v-model="value" id="value">
            <button @click="addSubject">Tambahkan</button>
            <p v-if="subjects.length > 3">Hebat</p>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    value: '',
                    subjects: [],
                }
            },
            methods: {
                addSubject() {
                    if (this.value === '') {

                    } else {
                        this.subjects.push({
                            message: this.value
                        })
                        this.value = ''
                    }

                },



            }
        })
    </script>
</body>

</html>